@import "../styles/root.scss";
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 25px;
  width: 70%;
  gap: 10px;
  @media screen and (max-width: 800px) {
    width: 90%;
    padding: 0;
  }
  h1 {
    align-self: flex-start;
  }
  .account-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  .group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      gap: 10px;
    }
    .btn {
      font-size: 0.7rem;
    }
    p {
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        width: 150px;
        height: 30px;
        background-color: $primary-color-transparent;
        backdrop-filter: blur(10px);
        border: none;
        border-bottom: 1px solid white;
        z-index: 2;
        cursor: text;
        border-radius: 30px;
        padding: 2px;
        text-align: center;
        color: $font-color-white;
      }
    }
    span {
      font-weight: 600;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: $font-color-white;
  }

  .account-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .btn:nth-of-type(2) {
      background-color: transparent;
      color: red !important;
      border: none;
      cursor: pointer;
      z-index: 3;
      &:hover {
        opacity: 50%;
      }
    }
  }
}
