@import "../styles/root.scss";

/* INSCRIPTION */
.signup-container {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
  @media screen and (max-width: 800px) {
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-left: 25px;
    @media screen and (max-width: 800px) {
      padding: 0;
    }
  }
  img {
    padding-right: 25px;
    @media screen and (max-width: 800px) {
      padding: 0;
    }
  }
}

.link-button {
  background-color: transparent;
  color: $font-color-white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 auto;
  &:hover {
    opacity: 80%;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color-white;
  gap: 40px;
  @media screen and (max-width: 800px) {
    gap: 20px;
  }
  .group-form {
    display: flex;
    gap: 20px;
    /*       min-width: 400px;  */
    @media screen and (max-width: 800px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      text-align: center;
    }
    input {
      width: 250px;
      height: 30px;
      background-color: $primary-color-transparent;
      backdrop-filter: blur(10px);
      border: none;
      border-bottom: 1px solid white;
      z-index: 2;
      cursor: text;
      border-radius: 30px;
      padding: 2px;
      text-align: center;
      color: $font-color-white;
    }
  }
  .uses {
    display: flex;
    gap: 10px;
    a {
      color: $font-color-white;
      &:hover {
        opacity: 80%;
      }
    }
  }
}

/* voir modals.scss pour la modal de connexion */
