@import "../styles/root.scss";

.grids-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  .header {
    padding: 0 25px;
    align-self: flex-start;
    display: flex;
    margin-bottom: 30px;
    width: 80%;
    @media screen and (max-width: 430px) {
      flex-direction: column-reverse;
      gap: 10px;
      width: 100%;
      padding: 0;
    }

    .header-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      h1 {
        margin: 0;
      }
    }
    .row {
      display: flex;
      align-items: flex-end;
      gap: 50px;
      @media screen and (max-width: 430px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
      .search-container {
        display: flex;
        gap: 10px;
        @media screen and (max-width: 430px) {
          justify-content: center;
          width: 100%;
        }
        input {
          width: 250px;
          height: 30px;
          background-color: $primary-color-transparent;
          backdrop-filter: blur(10px);
          border: none;
          border-bottom: 1px solid white;
          z-index: 2;
          border-radius: 30px;
          padding: 2px;
          text-align: center;
          color: $font-color-white;
        }
      }
    }
    .btn {
      width: fit-content;
      margin-top: 20px;
    }
  }
  .grids-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 40px;
    padding: 0 25px;
    @media screen and (max-width: 430px) {
      padding: 0;
      justify-content: center;
    }
    .grid-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 200px;
      height: 250px;
      border-radius: 30px;
      margin-top: 30px;
      position: relative;
      cursor: pointer;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      .grid-foil {
        position: absolute;
        background-color: rgba(211, 211, 211, 0.6);
        width: calc(40px * 5);
        height: calc(40px * 5);
        margin: auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 17px;
        p {
          color: $font-color-dark;
        }
      }
      h2 {
        margin: 0;
        font-size: 1.2rem;
      }
      p {
        color: $font-color-white;
        margin: 0;
      }

      .grid-card-footer {
        color: $font-color-white;
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }
  }
}
