@import "../styles/root.scss";

/* AIRE DE JEU */
.area-page {
  padding: 80px 0;

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    .header {
      height: 50px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 70%;
      position: relative;
      .chrono-container {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        left: -100px;
        top: 10px;
        p {
          padding: 10px;
          width: 100px;
          border: 1px solid $tertiary-color;
          height: fit-content;
          border-radius: 10px;
          background-color: $secondary-color-transparent;
          color: $font-color-white;
          text-align: center;
          line-height: 2.56;
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
      form,
      #un-grid-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        line-height: 2;
        gap: 10px;
        flex-grow: 1;
        input {
          width: 400px;
          height: 30px;
          background-color: $secondary-color-transparent;
          backdrop-filter: blur(10px);
          border: none;
          border-bottom: 1px solid white;
          z-index: 2;
          text-align: center;
          padding: 4px;
          color: $font-color-white;
          cursor: text;
          border-radius: 30px;
        }
      }
      #un-grid-name {
        margin: 10px 0 0 -20px;
      }
    }
    #elapsed-time {
      color: red;
    }
    .grid-area-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .game-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        position: relative;
        .message {
          position: absolute;
          bottom: 20px;
          right: 10px;
          text-wrap: wrap;
        }
        .bonus {
          position: absolute;
          right: 50px;
          display: flex;
          flex-direction: row;
          gap: 15px;

          .bombs-container,
          .pens-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
          .pen-bonus,
          .bomb-bonus {
            position: relative;
            background-color: $tertiary-color;
            border: none;
            border-radius: 10px;
            width: 40px;
            height: 40px;
            &:hover {
              background-color: $secondary-color;
              transform: scale(1.1);
            }
            p {
              position: absolute;
              top: 25px;
              right: 5px;
              color: $font-color-dark;
              font-size: 0.8rem;
            }
          }
          .bomb-animation {
            img {
              animation: bomb-animation 2s ease-in-out;
            }
          }
          .active {
            background-color: $secondary-color;
            transform: scale(1.1);
          }
        }
        .canva-container {
          position: relative;
          p {
            color: $font-color-white;
            background-color: $secondary-color;
            padding: 3px;
            border-radius: 5px;
            box-shadow: 9px 12px 41px -5px #2c253866;
            width: fit-content;
            text-wrap: nowrap;
          }
        }
      }
      .paint {
        width: 95%;
        .tools {
          display: flex;
          gap: 5px;
          margin: -50px 0 0 10px;
          z-index: 1;
          .tool {
            background-color: $tertiary-color;
            border-radius: 10px 10px 0 0;
            width: 50px;
            height: 50px;
            border: none;
            z-index: 1;
            &:hover {
              background-color: $secondary-color;
              transform: scale(1.1);
            }
          }
          .active {
            background-color: $secondary-color;
            transform: scale(1.1);
          }
        }
        .custom-layout {
          width: 100%;
          z-index: 2;
          div {
            z-index: 2;
          }
        }
      }
    }
  }
}
@keyframes bomb-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
